extend layout

append body
  .container
    .row
      .col-sm-3
        .panel.panel-default
          .panel-heading
            h3.panel-title 查询
          .panel-body
            a(href='/teacher') 请假查询
            hr
            a(href='/teacher/dailyAttendanceIndex') 签到查询
        .panel.panel-default
          .panel-heading
            h3.panel-title 个人信息
          .panel-body
            p 姓名: #{ user.name }
            p 性别: #{ user.gender === 'female' ? '女' : '男' }
            p 工号: #{ user.id }

      .col-sm-9
        .panel.panel-default
          .panel-heading
            h3.panel-title 最新申请
          .panel-body
            if (absences && absences.length)
              table.table
                tr
                  th 学生
                  th 开始时间
                  th 结束时间
                  th 原因
                  th 审批状态
                each absence in absences
                  tr
                    td #{ absence.absentee }
                    td #{ absence.startTime }
                    td #{ absence.endTime }
                    td #{ absence.reason }
                    if absence.approved
                      td 已通过
                    else
                      td
                        a.btn.btn-default.btn-sm(href='/teacher/approveAbsence/#{absence.id}') 批准
